html {
    background: transparent;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #{BACKGROUND_COLOR_STUFF};
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 100px;
    box-sizing: border-box;
}
.container_header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
}
.title{
    height: 30px;
    line-height: 30px;
    margin: 0;
}
#svgaTitle {
 width:50%;
 height:30px;
 margin:10px auto 0px;
 color:#ffffff;
 display: flex;
 text-align:center;
 min-width: 600px;
}

button {
  width:50px;height:30px;padding:5px 0px;margin-left:10px;text-align:center;
  border-radius: 4px;
  border: none;
}
#content-div {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0;
    position: absolute;
    overflow-x: scroll;
    overflow-y: auto;
    scrollbar-track-color: #{BACKGROUND_COLOR_STUFF};
    scrollbar-3dlight-color: #{BACKGROUND_COLOR_STUFF};
    scrollbar-darkshadow-color: #{BACKGROUND_COLOR_STUFF};
    scrollbar-base-color: #{BACKGROUND_COLOR_STUFF};
    scrollbar-arrow-color: #{BACKGROUND_COLOR_STUFF};
    scrollbar-highlight-color: #{BACKGROUND_COLOR_STUFF};
    scrollbar-shadow-color: #{BACKGROUND_COLOR_STUFF};
    scrollbar-face-color: #7d7d7d;
}

#topDiv {
    height: 30px;
    min-height: 30px;
    line-height: 30px;
    width: 50%;
    margin:20px auto 0;
    min-width: 600px;
    background: #{BACKGROUND_COLOR_STUFF};
    position: relative;
    /*position: fixed;
    top: 0;*/
}

.switch-bg-btn {
    width: 14px;
    height: 14px;
    cursor: pointer;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
    box-sizing: border-box;
    border: 1px solid #{BORDER_COLOR_STUFF};
}

#switch-bg-none {
    background-size: 12px 12px;
    background-image: url({BACKGROUND_IMAGE_STUFF});
}

#switch-bg-black {
    background-color: black;
}

#switch-bg-white {
    background-color: white;
}

#switch-bg-blue {
    background-color: #3498DB;
}

#switch-bg-green {
    background-color: #30CC71;
}

#switch-bg-yellow {
    background-color: #F1C40D;
}

#switch-bg-red {
    background-color: #C0392B;
}

#infoDiv {
    height: 30px;
    line-height: 30px;
    width: auto;
    position: absolute;
    right: 10px;
    font-family: '{FONT_FAMILY_STUFF}', serif;
    font-size: 12px;
    color: #{FONT_COLOR_STUFF};
    cursor: default;
}

#playerCanvas {
    width: 0;
    height: 0;
    max-width: 100%;
    max-height:100%;
    margin: 0px auto;
    top: 30%;
    border: 1px solid #c0c0c0;
    background-image: url({BACKGROUND_IMAGE_STUFF});
    /*position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);*/
}
